{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'StyleSheet2.css' %}" type='text/css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Diagnosis System{% endblock %}</title>
</head>
<body >
	{% block content %}
		{% if new_symptom %}
		<h2>
			Your symptom has been added.
			</h2>
		{% else %}
		<h2>Add your symptoms</h2><br>

		<form method = "post" >
		  {{symptom_form.as_p}}
		  {% csrf_token %}
		 
		  <button id="myButton" class="float-left submit-button" >Submit</button>

		</form>
		{%endif%}
		

		
	{%endblock%}
</body>


