<!DOCTYPE html>
<html>
<head>
    <link rel=" style2.css" href="StyleSheet2.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Diagnosis System</title>
</head>
<body>
		<form>
		  <label for="add">Add your symptoms:</label><br>
		  <textarea cols='60' rows='8'></textarea>

		</form>
	<style>
		body {
			background-image: url('MBG.jpg');
			}
		input[type=text] {
		  width: 40%;
		  height: 70px;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		}
			
	</style>
	<button id="myButton" class="float-left submit-button" >Submit</button>

	<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "file:///E:/database_project/page3.html";
    };
</script>

</body>
