body {
        /* margin: 0px; */

    background: url("MBG.jpg") no-repeat center ;
    background-size: cover;
    /* background-size: auto; */


    }
input[type=text] {
  width: 40%;
  height: 70px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

#wrapper {
    font-size: 20px;
    padding-right: 250px;
    font-weight:700;
}
#wrapper2{
    font-size: 30px;
    padding-right: 250px;
    font-weight:700;
	padding-bottom: 50px;
}
p {
	font-size: 25px;
	font-family: sans-serif;
	
} 
#gg {
	padding-top: 5%;
}

.blue {
	color: rgb(6, 171, 187);
}

.rosso {
	color: red;
}


.verde {
	color: rgb(11, 186, 100);
}

.giallo {
	color: yellow;
}

#myButton {
	margin-bottom:10%;
	margin-left: 73%;
	background-color: rgb(6, 119, 177);
	color: white;
	width: 80px;
	height: 40px;
	border-radius:6px;
}

	/* #myButton:hover {
		transition-property: transform,width,height;
		transition-duration: .5s;
		border-radius: 20px;
		transition-delay: .02s;
		transform: translateY(5px);
		width: 50px;
		height: 25px;
		background-color: red;
		opacity: 1;
	} */